@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;

  }

* {
  box-sizing: border-box;
}

a {
  color: blue;
  text-decoration: none;
}

.link{cursor:pointer}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.container {
  background-color: rgba(0,0,0,0.3);
  padding: 0;
  border: 0;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: white;
}

.about_container {

  padding: 0rem;
  padding-bottom: 0rem;
  margin: 4rem;
  border: 0;
  left: 0;
}
.portfolio_container {

  padding: 0;
  padding-bottom: 2rem;
  padding-top: 1.5rem;

  margin: 2.5rem;
  margin-top: 4.5rem;
  border: 0;
  left: 0;
}
.index_container {

  padding: 0;
  padding-bottom: 1rem;
  margin: 2.5rem;
  margin-top: 4.5rem;
  border: 0;
  left: 0;
}
.description {
  font-weight: bold
}

.about_heading {
  left: 0;
  padding-bottom: 1rem;
}
.about_the_page{
  left: 0;
  padding: 1.5rem;
}
.about_me {
  left: 0;
  padding: 1.5rem;
}
.smooth{
  scroll-behavior: smooth;
}

.sidebar {
  text-align: left;
  background-color: rgba(255,140,0, 0.86);

  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  left: 0;
  width: 25vh;
  height: 92.6vh;
  color: white;
}

.glass {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.content{
  margin-top: 2rem;
  padding-left: 15rem;
  padding-bottom: 0rem;
  max-height: 80vh;
  overflow: auto;

}

.orange-border {
  border: 0.1rem;
  border-color: orange;
  border-style: solid;
  padding: 2rem;
  margin-top: 1rem;
  color: white;
  background-color: rgba(0,0,0,0.5);
  padding-bottom: 0rem;

}

.padding-col {
  margin-right: 0rem;
}

.scrolling {
}
