.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;

}

.background {
  background: url('../public/image/tobias-reich--543MkMeSyE-unsplash.jpg');
  background-color: rgba(0,0,0,7);
  height: 100vh;
  background-size:     cover; 
  

}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}