.navbar{
    background-color: rgba(0,0,0,0.3);
    color: white;
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
}

.links {
    text-decoration: none;
    color: white;
}
.floating {
    animation-name: floating;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 5px;
    margin-top: 0px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 5px); }
    100%   { transform: translate(0, -0px); }   
}